[Unit]
Description=OpenVPN service
After=network.target

[Service]
Type=simple
PrivateTmp=true

ExecStart=/usr/local/sbin/openvpn --config  /var/lib/iot/sslvpn/openvpn/server.conf
PIDFile=/run/openvpn.pid
WorkingDirectory=/var/lib/iot/sslvpn/openvpn/
User=root
Group=root
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
